<link href="/css/dashboard.css" rel="stylesheet">
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container"> <a class="navbar-brand" href="/dashboard">WalletStorm</a>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/dashboard">Home</a>
				</li>
				<li class="active"><a href="#">Wallets <span class="sr-only">(current)</span></a>
				</li>
				<li><a href="about">About</a>
				</li>
			</ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Welcome, {{wallet.[0].User.firstName}}</a>
                </li>
            </ul>
		</div>
	</div>
</nav>
<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">Wallets</h1>
		<p>Welcome to your wallet overview, from here you can manage your individual wallets.</p>
	</div>
</div>
<div class="container">
	<div class="panel panel-default">
        <div class="panel-heading"><font size="4">Wallet Details</font>
            <div class="pull-right">
                <font size="4"><a href="#">Refresh <i class="fa fa-refresh" aria-hidden="true"></i></a></font>
            </div>
        </div>
		<div class="panel-body">
			<div class="btn-group" role="group" aria-label="...">
				<a href="./wallets/add" class="btn btn-default">Add wallet</a>
				<a href="./wallets/edit" class="btn btn-default">Edit wallet</a>
				<a href="./wallets/export" class="btn btn-default">Export wallet</a>
                <input name="deleteWallet" id="deleteWallet" value="Delete wallet" type="submit" class="btn btn-default" />
                <!--- <input name="like" id="like" value="Like" type="submit" /> --->
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Currency</th>
                        <th scope="col">Code</th>
						<th scope="col">Address</th>
						<th scope="col">Balance</th>
                        <th scope="col"></th>
					</tr>
				</thead>
				<tbody>
                    {{#wallet}}
                        <tr>
                            <td>{{this.Coin.name}}</td>
                            <td>{{this.Coin.code}}</td>
                            <td>{{this.address}}</td>
                            <td>{{this.balance}} <i class="cc {{this.Coin.code}}-alt"></i></td>
                            <td><input type="radio" name="walletId" value={{this.id}} id="walletId"></td>
                        </tr>
                    {{else}}
                        <p>NO DATA</p>
                    {{/wallet}}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
    $('#deleteWallet').click(function(){
        var selectedID = document.querySelector('input[name=walletId]:checked').value;
        $.post("/dashboard/wallets/delete", {id:selectedID}, function(data) {});
    });
</script>